<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
        <div v-if="!logged">
            <label for="username">Nombre de usuario: </label>
            <input v-model="username" />
            <br><br>
            <label for="password">Contraseña: </label>
            <input v-model="password" type="password" />
            <br><br>
            <p @click='hideErrorLogin' v-if="errorLogin" style="color: red;">Credenciales incorrectas</p>
            <button @click="logIn">Iniciar sesión</button>
        </div>
        <div v-if="showForm">
            <h1>Formulario</h1>
            <form @submit.prevent="onSubmit">
                <label for="name">Nombre: </label>
                <input v-model.trim="editModel.name" /><br><br>
                <label for="lastname">Apellido: </label>
                <input v-model.trim="editModel.lastname" /><br><br>
                <label for="age">Edad: </label>
                <input v-model.number="editModel.age" type="number" /><br><br>
                <label for="gender">Género: </label>
                <input type="radio" id="male" value="Masculino" v-model="editModel.gender" />
                <label for="one">Masculino</label>
                <input type="radio" id="female" value="Femenino" v-model="editModel.gender" />
                <label for="two">Femenino</label><br><br>
                <label for="country">País: </label>
                <select v-model="editModel.country">
                    <option v-for="option in countries" :value="option.value">
                        {{ option.text }}
                    </option>
                </select><br><br>
                <label for="hobbies">Pasatiempos: </label>
                <input type="checkbox" id="read" value="Leer" v-model="editModel.hobbies" />
                <label for="read">Leer</label>
                <input type="checkbox" id="travel" value="Viajar" v-model="editModel.hobbies" />
                <label for="travel">Viajar</label>
                <input type="checkbox" id="play" value="Jugar" v-model="editModel.hobbies" />
                <label for="play">Jugar</label><br><br>
                <label for="travel">Descripción</label><br>
                <textarea v-model="editModel.description" placeholder="Escriba acerca de la persona..."></textarea><br><br>
                <button v-if="showCancel" @click="cancelModel">Cancelar</button>
                <button>Guardar</button>
            </form>
        </div>
        <div v-if="logged">
            <h1>{{ editing ? 'Previsualización' : 'Resultado'}}</h1>
            <p>Nombre completo: {{ fullName }}</p>
            <p>Edad: {{ getAge }}</p>
            <p>Género: {{ getGender }}</p>
            <p>País: {{ getCountryName }}</p>
            <p>Pasatiempos: {{ getHobbies }}</p>
            <p>Descripción:<br>{{ getDescription }}</p>
            <br>
            <button v-if="!editing" @click="updateModel">Editar</button>
        </div>
    </div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
